<div class="container">
    <div class="page-header">
        <h1>编程技能</h1>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading panel-title"><span class="ion-social-angular"></span> 前端</div>
            <div class="panel-body">
                <ul class="nav nav-pills">
                    <li ng-repeat="(key,value) in frount" class="badge-box">
                        <a ng-class="{'label':true,'label-success':value=='了解','label-primary':value=='掌握','label-danger':value=='熟练',}">{{key}}<span class="badge">{{value}}</span></a>
                    </li>
                </ul>
                <div class="panel-con">
                    <p>在Careerbuilder实习期间反复锻炼了基于Angular框架的前端开发能力，并自行在服务器上部署了一个以Angular为前端，node为后端的在线聊天系统。
                        此外还实现了手机短信自动转发至服务器以及查看功能。<a href="https://github.com/yifei-chen/yard_node" target="_blank"><i
                                class="icon ion-social-github"></i></a>
                    </p>
                    <p>
                        同时还熟悉Grunt等项目集成工具，了解JS代码整合压缩过程和对Angular的影响。熟悉HTML5，CSS3，SCSS等前端技术
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading well-content"><span class="ion-social-nodejs"></span> 后端</div>
            <div class="panel-body">
                <ul class="nav nav-pills">
                    <li ng-repeat="(key,value) in back" class="badge-box">
                        <a ng-class="{'label':true,'label-success':value=='了解','label-primary':value=='掌握','label-danger':value=='熟练',}">{{key}}<span class="badge">{{value}}</span></a>
                    </li>
                </ul>
                <div class="panel-con">
                    <p>
                        两次实习中均参与过后台的开发。SpringMVC与Ruby on Rails参加了功能模块的开发，而Node有项目搭建经验。
                    <p>
                    <p>
                        熟悉CMS系统的开发，了解与数据库(MySQL,MangoDB)的交互逻辑以及框架(Mybatis,Mongoose)。
                    </p>
                    <p>
                        此外，曾用纯JAVA编写过爬虫软件，主要针对电商网站爬取商品信息。
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading well-content"><span class="ion-social-android"></span> 客户端</div>
            <div class="panel-body">
                <ul class="nav nav-pills">
                    <li ng-repeat="(key,value) in app" class="badge-box">
                        <a ng-class="{'label':true,'label-success':value=='了解','label-primary':value=='掌握','label-danger':value=='熟练',}">{{key}}<span class="badge">{{value}}</span></a>
                    </li>
                </ul>
                <div class="panel-con">
                    <p>
                        曾为骑行网站<a href="http://www.ichuanqi.net/" target="_blank"><span
                            class="glyphicon glyphicon-link"></span></a>
                        开发过原生安卓APP，但因公司计划变更未完成开发。
                    <p>
                    <p>在Angular的基础上自学了ionic的Hybrid App开发，为上述的聊天系统开发了初步的App版本。<a
                            href="https://github.com/yifei-chen/yard_app" target="_blank"><i
                            class="icon ion-social-github"></i></a>
                    </p>
                    <p>
                        此外还会经常开发一些自用的小程序，例如上述的短信转发App。
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading well-content"><span class="ion-social-tux"></span> 服务器</div>
            <div class="panel-body">
                <ul class="nav nav-pills">
                    <li ng-repeat="(key,value) in server" class="badge-box">
                        <a ng-class="{'label':true,'label-success':value=='了解','label-primary':value=='掌握','label-danger':value=='熟练',}">{{key}}<span class="badge">{{value}}</span></a>
                    </li>
                </ul>
                <div class="panel-con">
                    <p>
                        熟悉OSX/Linux开发环境，掌握Shell命令和初步的Bash编程。熟练使用Eclipse和JetBrians系列IDE。(IntelliJ,RubyMine,WebStrom...)
                    <p>
                    <p>
                        熟悉并实践过服务器配置和持续集成，掌握Nginx和Jenkins的使用。
                    <p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
    <div class="page-header">
        <h1>其他技能</h1>
    </div>
    <div class="well">
        <ul class="nav nav-pills">
            <li ng-repeat="(key,value) in other" class="badge-box">
                <a ng-class="{'label':true,'label-success':value=='了解','label-primary':value=='掌握'||'CET6','label-danger':value=='熟练',}">{{key}}<span class="badge">{{value}}</span></a>
            </li>
        </ul>
        <div class="panel-con">
        <p>
            总共四年的学生会宣传部经验让我学会了扎实的Photoshop技巧，对前端编程有非常大的帮助。
        <p>
        <p>
            实习过程中掌握了敏捷开发的思想和Scrum开发过程。
        </p>
            </div>
    </div>
    </div>
</div>