.edu-table {
  margin: auto;
  font-size: 20px;
  td {
    padding: 3px 0 3px 5px;
  }

  .edu-date {
    text-align:left;
  }

  .edu-content {
    text-align:left;
  }
}

.tooltip{
  font-size: 18px;
 }