<div class="container">
    <div class="page-header">
        <h2>个人资料</h2>
    </div>
    <!--<div class="well">-->
    <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading"><span class="glyphicon glyphicon-user"></span> 基本资料</div>
            <div class="panel-body">
                <div ng-repeat="(key,value) in baseInfo" class="info-window col-md-6 col-sm-6">
                    <p class="title">{{key}}</p>
                    <h4 class="content">{{value}}</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-success">
            <div class="panel-heading"><span class="glyphicon glyphicon-earphone"></span> 联系方式</div>
            <div class="panel-body">
                <div ng-repeat="(key,value) in contact" class="info-window col-md-6 col-sm-6">
                    <p class="title">{{key}}</p>
                    <h4 class="content">{{value}}</h4>
                </div>
            </div>
        </div>
    </div>

    <div class="page-header">
        <h2>自我简介</h2>
    </div>
    <div class="well well-content">
        <p>将软件开发当做兴趣爱好并积极学习新技术,同时痴迷于各类电子产品无法自拔 <del><small>surface和mac都想要但是买不起怎么办</small></del></p>
        <p>强烈希望能加入学习气氛良好的团队,在工作的同时不断提高自己</p>
        <p>同时也热爱电子游戏，Steam喜+1党。详情请戳 <a ng-click="steam()"  href="http://steamcommunity.com/profiles/76561198049445520/" target="_blank"><i class="icon ion-steam"></i></a></p>
        <p>主要使用的语言为JAVA和javascript。个人Github地址请戳 <a ng-click="code()" href="https://github.com/yifei-chen/" target="_blank"><i class="icon ion-social-github"></i></a></p></p>
    </div>
    <!--</div>-->
</div>