<div class="container">
    <div class="page-header">
        <h2>个人资料</h2>
    </div>
    <!--<div class="well">-->
    <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading"><span class="glyphicon glyphicon-user"></span> 基本资料</div>
            <div class="panel-body">
                <div ng-repeat="(key,value) in baseInfo" class="info-window col-md-6 col-sm-6">
                    <p class="title">{{key}}</p>
                    <h4 class="content">{{value}}</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-success">
            <div class="panel-heading"><span class="glyphicon glyphicon-earphone"></span> 联系方式</div>
            <div class="panel-body">
                <div ng-repeat="(key,value) in contact" class="info-window col-md-6 col-sm-6">
                    <p class="title">{{key}}</p>
                    <h4 class="content">{{value}}</h4>
                </div>
            </div>
        </div>
    </div>

    <div class="page-header">
        <h2>自我简介</h2>
    </div>
    <div class="well well-content">
        <p>对于软件开发、计算机技术以及数码产品保持高度热情，积极学习新技术。
            诚恳踏实、耐心细致，具有开拓创新的思维以及合作精神，能快速融入团队。
            兴趣广泛，热爱生活。在编程和设计海报之余经常参加羽毛球，慢跑等运动</p>
        <p>同时也热爱电子游戏，Steam喜+1党。详情请戳 <a ng-click="steam()"  href="http://steamcommunity.com/profiles/76561198049445520/" target="_blank"><i class="icon ion-steam"></i></a></p>
        <p>主要使用的语言为JAVA和javascript。个人Github地址请戳 <a ng-click="code()" href="https://github.com/yifei-chen/" target="_blank"><i class="icon ion-social-github"></i></a></p></p>
    </div>
    <!--</div>-->
</div>