<div class="container">
    <div class="col-md-6">
    <div class="page-header">
        <h2>教育背景</h2>
    </div>
    <table class="edu-table table table-striped table-hover ">
        <thead>
        <tr class="success">
            <th>时间</th>
            <th>学校</th>
            <th>院系</th>
            <th>学历</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>2014-</td>
            <td>华东理工大学</td>
            <td>计算机科学与技术</td>
            <td>硕士在读</td>
        </tr>
        <tr uib-tooltip="主要课程方向为化学与物理，后通过考研进入计算机系" tooltip-class="tooltip">
            <td>2010-2014</td>
            <td>华东理工大学</td>
            <td>环境工程 <a><span class="glyphicon glyphicon-info-sign"></span></a></td>
            <td>本科</td>
        </tr>
        </tbody>
    </table>
        </div>
    <div class="col-md-6">
    <div class="page-header">
        <h2>学生工作</h2>
    </div>
    <table class="edu-table table table-striped table-hover ">
        <thead>
        <tr class="warning">
            <th>时间</th>
            <th>单位</th>
            <th>职位</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>2014-2016</td>
            <td>院研究生会 宣传部</td>
            <td>部员，后任部长</td>
        </tr>
        <tr uib-tooltip="担任部员期间主要负责使用Photoshop进行海报制作，担任部长后主要负责任务调度以及组织策划工作，曾以部门为单位组织策划过独立的晚会活动" tooltip-class="tooltip">
            <td>2010-2012</td>
            <td>院学生会 宣传部</td>
            <td>部员，后任部长 <a><span class="glyphicon glyphicon-info-sign"></span></a></td>
        </tr>
        </tbody>
    </table>
        </div>
    <div class="col-md-12">
        <div class="page-header">
            <h2>实习经历</h2>
        </div>
        <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">上海东碣信息科技有限公司 <a href="http://www.ostengar.com/" target="_blank"><span class="glyphicon glyphicon-link"></span></a></div>
            <div class="panel-body">
                <div ng-repeat="(key,value) in ostengar" class="info-window col-md-6 col-sm-6">
                    <p class="title">{{key}}</p>
                    <h4 class="content">{{value}}</h4>
                </div>
            </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">Careerbuilder, LLC.  <a href="http://www.careerbuilder.com/" target="_blank"><span class="glyphicon glyphicon-link"></span></a></div>
                <div class="panel-body">
                    <div ng-repeat="(key,value) in cb" class="info-window col-md-6 col-sm-6">
                        <p class="title">{{key}}</p>
                        <h4 class="content">{{value}}</h4>
                    </div>
                </div>
            </div>
        </div>
        </div>

</div>